In [61]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime

df = pd.read_csv("full_clean_raw.csv")
list(df.columns.values)

['Unnamed: 0',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'is_inc_v',
 'issue_d',
 'pymnt_plan',
 'purpose',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'not_compliant',
 'status',
 'inactive_loans',
 'bad_loans',
 'emp_length_num',
 'pub_rec_zero',
 'short_emp',
 'payment_inc_ratio',
 'final_d',
 'last_record_none',
 'last_major_derog_none',
 'home_ownership',
 'annual_inc',
 'addr_state',
 'dti',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'open_acc',
 'pub_rec',
 'total_acc',
 'inc_v_binary',
 'deliquency',
 'status_binary']

In [ ]:
#correlations
#df.corr() #correlation matrix

In [71]:
#pivot tables
df['return'] = df['total_pymnt']/df['funded_amnt'] #% return for each loan
df['profit'] = df['total_pymnt'] - df['funded_amnt'] #calculate profit per loan

#return % by loan status
#pd.pivot_table(df, index="status", values="return") 
#df_pre_agg = df.groupby('status').agg({'total_pymnt' : 'sum', 'funded_amnt' : 'sum'})
#df_pre_agg['return'] = df_pre_agg['total_pymnt']/df_pre_agg['funded_amnt']
#df_pre_agg['return']

#return by employement status
#pd.pivot_table(df, index="emp_length_num", values="return") #not really anything interesting

#return by grades
#pd.pivot_table(df, index="sub_grade", values="return", aggfunc=len)

#return positive in each category
#df['pos_return'] = df['return'].apply(lambda x: 1 if x>=1 else 0)
#pd.pivot_table(df, index="sub_grade", values="pos_return")

#profit by status
#df_prof = df.groupby('status').agg({'profit' : 'sum', 'funded_amnt' : 'sum'})
#df_prof['margin'] = df_prof['profit']/df_prof['funded_amnt']
#sum(df_prof['profit'])/sum(df_prof['funded_amnt']) #total profit margin

#profit by year
df['year'] = df['issue_d'].apply(lambda x: x[:4])
df_y = df.groupby('year').agg({'profit' : 'sum', 'funded_amnt' : 'sum'})
df_y['margin'] = df_y['profit']/df_y['funded_amnt']
#df_y #profit margin is between -4% and 10% before 2012, but is -33% and -74% in 2013 and 2014 respectively

pd.pivot_table(df, values='member_id', index='year', columns='status', aggfunc=len)

status,charged off,current,default,fully paid,in grace period,late (16-30 days),late (31-120 days)
year,,,,,,,
2007,154.0,NaN,NaN,411.0,NaN,NaN,NaN
2008,496.0,NaN,NaN,1897.0,NaN,NaN,NaN
2009,723.0,NaN,NaN,4557.0,NaN,NaN,1.0
2010,1707.0,1046.0,1.0,9733.0,16.0,8.0,26.0
2011,2981.0,3040.0,9.0,15520.0,49.0,5.0,117.0
2012,6647.0,23651.0,24.0,21770.0,414.0,114.0,747.0
2013,8120.0,92200.0,95.0,30423.0,1179.0,374.0,2365.0
2014,2079.0,213535.0,110.0,15112.0,1592.0,537.0,2664.0