In [4]:
import mysql.connector
import pandas as pd
import csv
from datetime import datetime
#from uszipcode import ZipcodeSearchEngine
from pprint import pprint

# credentials for connecting to the MySQL db
import json
db_creds = json.load(open('hidden/creds.json'))

def getDBCursor(creds):
    """
    Get the cursor for the db to perform transaction.

    Input: creds (dictionary of login credentials)
    Output: MySQL Connection, MySQl cursor object
    """
    cnx = mysql.connector.connect(**creds)
    return cnx, cnx.cursor()

def getDBConn(creds):
    """
    Get the connection to the db (primarily to use with Pandas)
    
    Input: creds (dictionary of login credentials)
    Output: MySQL Connection
    """
    return mysql.connector.connect(**creds)

def queryDB(cursor, query):
    """
    Execute a sql query.

    Input: cursor (MySQL cursor object), query (string of sql query)
    Output: dictionary containing the lines of the query
    """
    cursor.execute(query)
    return cursor.fetchall()


def executeQuery(creds, query):
    """
    Executes a query by connecting, querying, and closes the db connection

    Input: creds (db login credentials), query (string of sql query)
    Output: dictionary of query results
    """
    result = None
    try:
        conn, cursor = getDBCursor(creds)
        result = queryDB(cursor, query)
    except Error as e:
        print(e)
    finally:
        conn.close()
        cursor.close()
    return result

def getDataFrame(filename):
    """
    """
    
def cleanData(filename):
    """
    Create a pandas dataframe from a file. Clean up the dates.
    
    Input: csv filename (str)
    Output: pandas dataframe object
    """
    try:
        df = pd.read_csv(filename)
    except IOError:
        print 'Use a csv file.'
        
    for col in list(df.columns.values):
        if col.endswith('_d'):
            try: # exception thrown when nan's occure
                df[col] = df[col].apply(lambda x: datetime.strptime(x[:8], '%Y%d%m'))
            except Exception as e:
                continue
    return df

In [ ]:
col_names = executeQuery(db_creds, "describe Bootcamp.Postal_Codes_Tbl")
data = executeQuery(db_creds, "select * from Bootcamp.Postal_Codes_Tbl limit 1")

In [ ]:
x = []
for i in col_names:
    x.append(str(i[0]))
y = []
for i in col_names:
    y.append(str(i[1]))
z = []
for i in data[0]:
    z.append(str(i))

In [ ]:
data

In [ ]:
f = open('data_info.csv', 'w')

In [ ]:
f.write(','.join(x))
f.write('\n')
f.write(','.join(y))
f.write('\n')
f.write(','.join(z))

In [ ]:
f.close()

In [ ]:
i = 0
row = None
with open('YYYY_Data_datatype.csv') as f:
    for line in f:
        if i == 3:
            row = line
            break
        i += 1
row = row.strip().split(',')

In [ ]:
dtypes = ['double', 'int', 'date']
type_array = []
to_add = None
for i in range(len(row)):
    if i == 0: 
        continue
    to_add = row[i] if row[i] in dtypes else ''
    type_array.append(to_add)

In [ ]:
df = pd.read_csv('2008_data.csv')

In [ ]:
membs = {}
for x in list(df.columns.values):
    membs[x] = df[x].unique()

In [ ]:
with open('2008_data_unique_vals.csv', 'w') as f:
    w = csv.writer(f)
    w.writerows(membs.items())

In [ ]:
df = pd.read_csv('2008_data.csv')
for col in list(df.columns.values):
    if col.endswith('_d'):
        try: # exception thrown when nan's occure
            df[col] = df[col].apply(lambda x: datetime.strptime(x[:8], '%Y%d%m'))
        except Exception as e:
            print col

In [ ]:
df.tail()

In [ ]:

search = ZipcodeSearchEngine()
zipcode = search.by_coordinate(43.0059,-71.0132, returns=1)

In [ ]:
pprint(zipcode[0])

In [ ]:
for i in range(len(zipcode)):
    print zipcode[i]['Zipcode']

In [14]:
member_info_query = "SELECT * FROM Bootcamp.Member_Information LIMIT 10"
df = pd.read_sql_query(member_info_query, getDBConn(db_creds))

In [15]:
df

,member_id,emp_title,emp_length,home_ownership,annual_inc,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,total_acc,mths_since_last_major_derog
0,70473,,< 1 year,RENT,120000,024xx,MA,4,,,,,,,,,
1,70626,,< 1 year,OWN,20000,024xx,MA,10,,,,,,,,,
2,70651,,< 1 year,MORTGAGE,150000,019xx,MA,10,,,,,,,,,
3,70681,Homemaker,10+ years,MORTGAGE,70000,068xx,CT,8.81,,,,,,,,,
4,70694,Outstanding Pool & Spa,9 years,MORTGAGE,55000,287xx,NC,10,0,19981001T000000,4,,,6,0,13,
5,70699,Rail Europe Group,4 years,RENT,200000,100xx,NY,0.28,0,19950301T000000,0,0,0,2,0,2,
6,70735,,< 1 year,OTHER,,100xx,NY,4,,,,,,,,,
7,70868,,< 1 year,RENT,110000,100xx,NY,10,,,,,,,,,
8,70879,Scheduall,1 year,MORTGAGE,100000,333xx,FL,10,,,,,,,,,
9,70978,self-employed,10+ years,MORTGAGE,300000,068xx,CT,1,0,19840201T000000,0,,,8,0,18,